tg-lightbox-close(on-close="vm.onClose()")

.form(ng-if="vm.visible")
    h2.title(translate="COMMON.WATCHERS.ADD")

    .candidate-user
        .user-list-avatar
            a(
                href=""
                title="{{'COMMON.ASSIGNED_TO' | translate}}"
            )
                img(
                    ng-src="{{vm.user.avatar}}"
                )
        a.user-list-name(
            href=""
            title="{{vm.user.name}}"
        ) {{vm.user.name}}



    fieldset
        input(
            type="text",
            data-maxlength="500",
            placeholder="{{'LIGHTBOX.ASSIGNED_TO.SEARCH' | translate}}",
            ng-model="vm.usersSearch"
        )
    .assigned-to-list
        .user-list-single(
            ng-repeat="user in vm.users | toMutable | filter: vm.usersSearch | limitTo: 5",
            ng-click="vm.onSelectUser({user: user})"
        )
            .user-list-avatar
                a(
                    href="#"
                    title="{{'COMMON.ASSIGNED_TO.TITLE' | translate}}"
                )
                    img(tg-avatar="user")
            a.user-list-name(
                href=""
                title="{{user.full_name_display}}"
            ) {{user.full_name_display}}

        .more-watchers(ng-if="showMore")
            span(translate="COMMON.ASSIGNED_TO.TOO_MANY")
